* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
.container {
    height: 100vh;
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head {
    font-size: 28px;
    color: #f8fafc;
    margin-bottom: 10px;
}
.img {
    max-width: 150px;
}
@media only screen and (min-width: 768px) {
    .img {
        max-width: 250px;
    }
    .head {
        font-size: 40px;
    }
}